.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/icoes/loading.gif
/public/icoes/tema.jpg
/public/icoes/vera.jpg
/public/icoes/vera120.jpg
/public/icoes/dambldor.jpg
/public/icoes/garry.jpg
