main,
.articles {
    margin-top: 1.5rem;
    border-collapse: collapse;
}

article {
    margin-bottom: 5px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    min-height: 60px;
    color: black;
}

article .left {
    float: left;
}

article .left img {
    border-radius: 80px;
    width: 70px;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

article .right {
    min-height: 75px;
    padding-left: 4.3rem;
    padding-top: 0.5rem;
}

article .right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

article .right .body {
    padding-left: 21px;
    padding-right: 10px;
    white-space: pre-line;
    overflow-wrap: break-word;
    color: var(--black-color);
}

article .right .person {
    padding-bottom: 0.4rem;
}

article .right .person .person-nick,
article .right .person .time {
    color: var(--gray-color);
}

article .footer {
    padding: 5px 0 5px 5px;
    text-align: center;
}